In [1]:
# treat years as dummies
import pandas as pd

In [33]:
grad_rates = pd.read_excel("csvs/2001_-_2013_Graduation_Outcomes.xlsx")

In [42]:
grad_rates.head()

,School Name,Category,Cohort Year,Cohort,Cohort #,Toal Grads #,% of cohort,Total Regents #,% of cohort.1,% of grads,Advanced Regents #,% of cohort.2,% of grads.1,Regents without Advanced#,% of cohort.3,% of grads.2,Local #,% of cohort.4,% of grads.3,Still Enrolled #,% of cohort.5,Dropout #,% of cohort.6
DBN,,,,,,,,,,,,,,,,,,,,,,,
01M292,ORCHARD COLLEGIATE ACADEMY,All Students,2013,4 year August,36,25,69.4444,23,63.8889,92,0,0,0,23,63.8889,92,2,5.55556,8,3,8.33333,7,19.4444
01M292,ORCHARD COLLEGIATE ACADEMY,All Students,2012,4 year August,44,24,54.5455,20,45.4545,83.3333,1,2.27273,4.16667,19,43.1818,79.1667,4,9.09091,16.6667,10,22.7273,10,22.7273
01M292,ORCHARD COLLEGIATE ACADEMY,All Students,2011,4 year August,73,46,63.0137,41,56.1644,89.1304,0,0,0,41,56.1644,89.1304,5,6.84931,10.8696,18,24.6575,7,9.58904
01M292,ORCHARD COLLEGIATE ACADEMY,All Students,2010,4 year August,61,26,42.623,26,42.623,100,1,1.63934,3.84615,25,40.9836,96.1538,0,0,0,18,29.5082,17,27.8688
01M292,ORCHARD COLLEGIATE ACADEMY,All Students,2009,4 year August,85,49,57.6471,44,51.7647,89.7959,0,0,0,44,51.7647,89.7959,5,5.88235,10.2041,28,32.9412,8,9.41176

In [44]:
pd.set_option('display.max_columns', None)
grad_rates[grad_rates["Cohort #"]==15]
#grad_rates = grad_rates.set_index("DBN")
grad_rates.dtypes

School Name                  object
Category                     object
Cohort Year                   int64
Cohort                       object
Cohort #                      int64
Toal Grads #                 object
% of cohort                  object
Total Regents #              object
% of cohort.1                object
% of grads                   object
Advanced Regents #           object
% of cohort.2                object
% of grads.1                 object
Regents without Advanced#    object
% of cohort.3                object
% of grads.2                 object
Local #                      object
% of cohort.4                object
% of grads.3                 object
Still Enrolled #             object
% of cohort.5                object
Dropout #                    object
% of cohort.6                object
dtype: object

In [7]:
grad_rates.columns

Index(['DBN', 'School Name', 'Category', 'Cohort Year', 'Cohort', 'Cohort #',
       'Toal Grads #', '% of cohort', 'Total Regents #', '% of cohort.1',
       '% of grads', 'Advanced Regents #', '% of cohort.2', '% of grads.1',
       'Regents without Advanced#', '% of cohort.3', '% of grads.2', 'Local #',
       '% of cohort.4', '% of grads.3', 'Still Enrolled #', '% of cohort.5',
       'Dropout #', '% of cohort.6'],
      dtype='object')

In [53]:
demos = pd.read_csv("csvs/2006_-_2012_School_Demographics_and_Accountability_Snapshot.csv")

In [54]:
demos["schoolyear"] = demos.schoolyear // 10000

In [57]:
demos
care_demos = ell_percent sped_percent asian_per black_per hispanic_per white_per male_per

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,grade3,grade4,grade5,grade6,grade7,grade8,grade9,grade10,grade11,grade12,ell_num,ell_percent,sped_num,sped_percent,ctt_num,selfcontained_num,asian_num,asian_per,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,2005,89.4,NaN,281,15,36,40,33,38,52,29,38,NaN,NaN,NaN,NaN,NaN,NaN,36.0,12.8,57.0,20.3,25,9,10,3.6,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,2006,89.4,NaN,243,15,29,39,38,34,42,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.0,15.6,55.0,22.6,19,15,18,7.4,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,2007,89.4,NaN,261,18,43,39,36,38,47,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,19.9,60.0,23.0,20,14,16,6.1,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,2008,89.4,NaN,252,17,37,44,32,34,39,49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,19.0,62.0,24.6,21,17,16,6.3,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,2009,,96.5,208,16,40,28,32,30,24,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,19.2,46.0,22.1,14,14,16,7.7,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10070,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2007,85.6,NaN,355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,355,NaN,NaN,21.0,5.9,21.0,5.9,4,NaN,1,0.3,151,42.5,198,55.8,5,1.4,181.0,51.0,174.0,49.0
10071,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2008,65.2,NaN,383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,383,NaN,NaN,10.0,2.6,28.0,7.3,13,NaN,3,0.8,132,34.5,245,64.0,2,0.5,206.0,53.8,177.0,46.2
10072,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2009,,89.2,395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,395,NaN,NaN,17.0,4.3,35.0,8.9,15,1,2,0.5,146,37.0,242,61.3,3,0.8,199.0,50.4,196.0,49.6
10073,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2010,,88.2,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,420,NaN,NaN,20.0,4.8,37.0,8.8,17,NaN,1,0.2,166,39.5,242,57.6,8,1.9,209.0,49.8,211.0,50.2
10074,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2011,NaN,81.8,382,,,,,,,,,,,,382,,,20.0,5.2,36.0,9.4,14,1,1,0.3,137,35.9,235,61.5,7,1.8,169.0,44.2,213.0,55.8

In [ ]:
demo_pers = demos[["DBN", "schoolyear"]]

In [19]:
grad_rates.sort_by("School Name")

AttributeError: 'DataFrame' object has no attribute 'sort_by'

In [22]:
grad_rates[grad_rates["DBN"]=="01M696"]

,DBN,School Name,Category,Cohort Year,Cohort,Cohort #,Toal Grads #,% of cohort,Total Regents #,% of cohort.1,% of grads,Advanced Regents #,% of cohort.2,% of grads.1,Regents without Advanced#,% of cohort.3,% of grads.2,Local #,% of cohort.4,% of grads.3,Still Enrolled #,% of cohort.5,Dropout #,% of cohort.6
393,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2013,4 year August,113,112,99.115,112,99.115,100,0,0,0,112,99.115,100,0,0,0,1,0.884956,0,0
394,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2012,4 year August,131,129,98.4733,129,98.4733,100,0,0,0,129,98.4733,100,0,0,0,2,1.52672,0,0
395,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2011,4 year August,154,150,97.4026,150,97.4026,100,0,0,0,150,97.4026,100,0,0,0,2,1.2987,2,1.2987
396,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2010,4 year August,143,143,100,143,100,100,0,0,0,143,100,100,0,0,0,0,0,0,0
397,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2009,4 year August,123,120,97.561,120,97.561,100,0,0,0,120,97.561,100,0,0,0,2,1.62602,0,0
398,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2008,4 year August,146,141,96.5753,141,96.5753,100,0,0,0,141,96.5753,100,0,0,0,4,2.73973,1,0.684932
399,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2007,4 year August,125,123,98.4,123,98.4,100,0,0,0,123,98.4,100,0,0,0,1,0.8,1,0.8
400,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2006,4 year August,139,136,97.8417,136,97.8417,100,0,0,0,136,97.8417,100,0,0,0,2,1.43885,1,0.719424
401,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2005,4 year August,115,107,93.0435,107,93.0435,100,0,0,0,107,93.0435,100,0,0,0,7,6.08696,1,0.869565
402,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2013,4 year June,113,107,94.6903,107,94.6903,100,0,0,0,107,94.6903,100,0,0,0,6,5.30973,0,0
403,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2012,4 year June,131,127,96.9466,127,96.9466,100,0,0,0,127,96.9466,100,0,0,0,4,3.05343,0,0
404,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2011,4 year June,154,148,96.1039,148,96.1039,100,0,0,0,148,96.1039,100,0,0,0,4,2.5974,2,1.2987
405,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2010,4 year June,143,142,99.3007,142,99.3007,100,0,0,0,142,99.3007,100,0,0,0,1,0.699301,0,0
406,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2009,4 year June,123,116,94.3089,116,94.3089,100,0,0,0,116,94.3089,100,0,0,0,6,4.87805,0,0
407,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2008,4 year June,146,138,94.5205,138,94.5205,100,0,0,0,138,94.5205,100,0,0,0,7,4.79452,1,0.684932
408,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2007,4 year June,125,122,97.6,122,97.6,100,0,0,0,122,97.6,100,0,0,0,2,1.6,1,0.8
409,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2006,4 year June,139,134,96.4029,134,96.4029,100,0,0,0,134,96.4029,100,0,0,0,4,2.8777,1,0.719424
410,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2005,4 year June,115,107,93.0435,107,93.0435,100,0,0,0,107,93.0435,100,0,0,0,7,6.08696,1,0.869565
411,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2004,4 year June,117,108,92.3077,108,92.3077,100,0,0,0,108,92.3077,100,0,0,0,8,6.83761,1,0.854701
412,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2003,4 year June,126,123,97.619,123,97.619,100,0,0,0,123,97.619,100,0,0,0,2,1.5873,1,0.793651
413,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2002,4 year June,110,104,94.5455,103,93.6364,99.0385,0,0,0,103,93.6364,99.0385,1,0.909091,0.961538,6,5.45455,0,0
414,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2001,4 year June,119,112,94.1176,110,92.437,98.2143,0,0,0,110,92.437,98.2143,2,1.68067,1.78571,5,4.20168,2,1.68067
415,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2012,5 year August,131,131,100,131,100,100,0,0,0,131,100,100,0,0,0,0,0,0,0
416,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2011,5 year August,153,151,98.6928,151,98.6928,100,0,0,0,151,98.6928,100,0,0,0,0,0,2,1.30719
417,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2010,5 year August,143,143,100,143,100,100,0,0,0,143,100,100,0,0,0,0,0,0,0
418,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2009,5 year August,123,121,98.374,121,98.374,100,0,0,0,121,98.374,100,0,0,0,0,0,1,0.813008
419,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2008,5 year August,146,145,99.3151,145,99.3151,100,0,0,0,145,99.3151,100,0,0,0,0,0,1,0.684932
420,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2007,5 year August,127,124,97.6378,124,97.6378,100,0,0,0,124,97.6378,100,0,0,0,1,0.787401,2,1.5748
421,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2006,5 year August,137,136,99.2701,136,99.2701,100,0,0,0,136,99.2701,100,0,0,0,0,0,1,0.729927
422,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2012,5 year June,131,131,100,131,100,100,0,0,0,131,100,100,0,0,0,0,0,0,0
423,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2011,5 year June,153,151,98.6928,151,98.6928,100,0,0,0,151,98.6928,100,0,0,0,0,0,2,1.30719
424,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2010,5 year June,143,143,100,143,100,100,0,0,0,143,100,100,0,0,0,0,0,0,0
425,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2009,5 year June,123,121,98.374,121,98.374,100,0,0,0,121,98.374,100,0,0,0,0,0,1,0.813008
426,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2008,5 year June,146,145,99.3151,145,99.3151,100,0,0,0,145,99.3151,100,0,0,0,0,0,1,0.684932
427,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2007,5 year June,127,124,97.6378,124,97.6378,100,0,0,0,124,97.6378,100,0,0,0,1,0.787401,2,1.5748
428,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2006,5 year June,137,136,99.2701,136,99.2701,100,0,0,0,136,99.2701,100,0,0,0,0,0,1,0.729927
429,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2005,5 year June,113,108,95.5752,108,95.5752,100,0,0,0,108,95.5752,100,0,0,0,2,1.76991,3,2.65487
430,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2004,5 year June,115,109,94.7826,109,94.7826,100,0,0,0,109,94.7826,100,0,0,0,0,0,6,5.21739
431,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2003,5 year June,126,123,97.619,123,97.619,100,0,0,0,123,97.619,100,0,0,0,0,0,3,2.38095
432,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2002,5 year June,110,108,98.1818,107,97.2727,99.0741,0,0,0,107,97.2727,99.0741,1,0.909091,0.925926,0,0,2,1.81818
433,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2001,5 year June,119,116,97.479,113,94.958,97.4138,0,0,0,113,94.958,97.4138,3,2.52101,2.58621,0,0,3,2.52101
434,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2011,6 year June,153,151,98.6928,151,98.6928,100,0,0,0,151,98.6928,100,0,0,0,0,0,2,1.30719
435,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2010,6 year June,143,143,100,143,100,100,0,0,0,143,100,100,0,0,0,0,0,0,0
436,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2009,6 year June,123,121,98.374,121,98.374,100,0,0,0,121,98.374,100,0,0,0,0,0,1,0.813008
437,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2008,6 year June,146,145,99.3151,145,99.3151,100,0,0,0,145,99.3151,100,0,0,0,0,0,1,0.684932
438,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2007,6 year June,127,124,97.6378,124,97.6378,100,0,0,0,124,97.6378,100,0,0,0,1,0.787401,2,1.5748
439,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2006,6 year June,138,136,98.5507,136,98.5507,100,0,0,0,136,98.5507,100,0,0,0,1,0.724638,1,0.724638
440,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2005,6 year June,114,109,95.614,109,95.614,100,0,0,0,109,95.614,100,0,0,0,1,0.877193,4,3.50877
441,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2004,6 year June,115,109,94.7826,109,94.7826,100,0,0,0,109,94.7826,100,0,0,0,0,0,6,5.21739
442,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2003,6 year June,126,123,97.619,123,97.619,100,0,0,0,123,97.619,100,0,0,0,0,0,3,2.38095
443,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2002,6 year June,110,108,98.1818,107,97.2727,99.0741,0,0,0,107,97.2727,99.0741,1,0.909091,0.925926,0,0,2,1.81818
444,01M696,BARD HIGH SCHOOL EARLY COLLEGE,All Students,2001,6 year June,119,116,97.479,113,94.958,97.4138,0,0,0,113,94.958,97.4138,3,2.52101,2.58621,0,0,3,2.52101

In [48]:
3//2

1

In [52]:
20082009

2008